:host {
  display: block;
  max-width: var(--grid-container-width);
  margin: var(--spacing-800) auto var(--spacing-800) auto;

  > svg {
    display: none;
  }
}

.nx-site-path {
  display: grid;
  gap: var(--spacing-400);
  grid-template-columns: 1fr auto;
  margin-bottom: var(--spacing-400);
}
